:root {
    --color-primary-950: #F0EA00;
    --color-primary-900: #FFFF00;
    --color-primary-800: #FFFF19;
    --color-primary-700: #FFFF33;
    --color-primary-600: #FFFF4D;
    --color-primary-500: #FFFF66;
    --color-primary-400: #FFFF80;
    --color-primary-300: #FFFF99;
    --color-primary-200: #FFFFB3;
    --color-primary-100: #FFFFCC;
    --color-primary-50: #FFFFE6;

    
    --color-secondary-950: #B34700;
    --color-secondary-900: #E65100;
    --color-secondary-800: #EF6C00;
    --color-secondary-700: #F57C00;
    --color-secondary-600: #FB8C00;
    --color-secondary-500: #FF9800;
    --color-secondary-400: #FFA726;
    --color-secondary-300: #FFB74D;
    --color-secondary-200: #FFCC80;
    --color-secondary-100: #FFE0B2;
    --color-secondary-50: #FFF5E5;


    --color-tertiary-950: #330000;
    --color-tertiary-900: #4D0000;
    --color-tertiary-800: #800000;
    --color-tertiary-700: #B30000;
    --color-tertiary-600: #E60000;
    --color-tertiary-500: #FF0000;
    --color-tertiary-400: #FF2E2E;
    --color-tertiary-300: #FF5C5C;
    --color-tertiary-200: #FF8A8A;
    --color-tertiary-100: #FFB8B8;
    --color-tertiary-50: #FFE5E5;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-gray-950: #181818;
    --color-gray-900: #242424;
    --color-gray-800: #3D3D3D;
    --color-gray-700: #565656;
    --color-gray-600: #6E6E6E;
    --color-gray-500: #878787;
    --color-gray-400: #9F9F9F;
    --color-gray-300: #B8B8B8;
    --color-gray-200: #D1D1D1;
    --color-gray-100: #E9E9E9;
    --color-gray-50: #F6F6F6;

    --main-font: Helvetica, Arial, sans-serif;
    --secondary-font: Calibri, Helvetica, Arial;
    
    --font-weight-bold: 700;

    --fs-xxxxl: 5rem;
    --fs-xxxl: 4rem;
    --fs-xxl: 3rem;
    --fs-xl: 2.5rem;
    --fs-lg: 2rem;
    --fs-md: 1.5rem;
    --fs-sm: 1.25rem;
    --fs-xs: 1rem;
    --fs-xxs: 0.875rem;
    --fs-xxxs: 0.75rem;
    --fs-xxxxs: 0.5rem;
}